:host {
  display: block;
  min-height: 100vh;
  background: #F9FAFB;
}

.app-layout {
  display: flex;
  min-height: 100vh;
}

.app-content {
  flex: 1;
  min-width: 0;

  padding: 2rem;

  overflow-x: hidden;
}

@media (max-width: 900px) {
  .app-layout {
    flex-direction: column;
  }

  .app-content {
    padding: 1rem;
  }
}

:host-context(html.dark) {
  background: #0F0F0F;
}

:host-context(html.dark) .app-content {
  background: #0F0F0F;
}
