.app-main {
  margin-right: 260px;
  padding: 2rem;
  max-width: calc(1400px - 260px);
  transition: margin-right .3s ease;
}

@media (max-width: 900px) {
  .app-main {
    margin-right: 220px;
  }
}

@media (max-width: 720px) {
  .app-main {
    margin-right: 0;
    padding: 1rem;
  }
}
